<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<% @book.reviews.each do |review| %>
 
    <p><%= review.user.first_name %>:</p>
 	<p><%= review.content %></p>

 <% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
